.header-style {
    height: 100px;
    background-color: #090723;
}

.contant {
    position: absolute;
    top: 100px;
    left: 64px;
    right: 0;
    bottom: 0;
    background-color: white;
}

.isCollapse {
    margin-left: 186px;
}

.footer {
    position: absolute;
    bottom: 0;
}

// .body-style {
//     height: 80%;
//     background-color: turquoise;
// }